#root {
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-background {
    background-color: whitesmoke;
    width: 900px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.textfield-size {
    width: 60%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.button-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.button-size {
    width: 80px;
    height: 50px;
    margin: 50px;
    display: inline-block;
}

.row-size {
    width: 450px;
    height: 150px;
}

.tableContainer {
    width: 450px;
    margin-top: 20px;
}
.nav {
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 1000;
}

.main-content {
    padding-top: 60px;
    margin-top: 45px;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
  }
.loader:before,
.loader:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

/* Material UI Search Bar Styles */
.material-ui-search-bar {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s, box-shadow 0.2s;
}

.material-ui-search-bar:hover {
  border-color: #2196F3; /* Hover border color */
}

.material-ui-search-bar input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
}

.material-ui-search-bar button {
  background-color: #2196F3; /* Search button color */
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.material-ui-search-bar button:hover {
  background-color: #1976D2; /* Hover background color */
}
