{% extends "registration/base.html"%}

{% block content %}

<form action="/registration/sign_up/" method="post">
  {% csrf_token %}
  <div class="form-container">
    <div>
    <label>
      First Name
      <input type="text" name="first_name" required>
    </label>
  </div>
  <div>
    <label>
      Last Name
      <input type="text" name="last_name" required>
    </label>
  </div>
  <div>
    <label>
      Email
      <input type="email" name="email" required>
    </label>
  </div>
  <div>
    <label>
      Password
      <input type="password" name="password" required>
    </label>
  </div>
  <button>Create Account</button>
  <a href="/registration/sign_in/">Back to Login</a>
  </div>
</form>
{% endblock %}